[Desktop Entry]

Encoding=UTF-8
Name=pseint
Type=Application
Categories=Development
Icon=pseint
Exec="/home/coders/Descargas/pseint-l64-20250314/pseint/bin/../wxPSeInt"
